body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
  background: #fff;
  color: #333;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #007BFF;
  transition: width .3s;
  position: absolute;
  left: 0;
  bottom: -5px;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li select {
  font-family: inherit;
  font-size: 1em;
  padding: 5px 10px;
  margin-top: -5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

nav ul li select:hover {
  border-color: #007BFF;
  color: #007BFF;
}

nav ul li select:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

section {
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  text-align: center;
}

textarea {
  overflow: hidden;
  resize: none;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  background: #fff;
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  overflow: hidden;
}

.service-content {
  transform: rotate(0deg);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service:hover .service-content {
  transform: rotate(0deg);
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.service i {
  font-size: 2em;
  color: #007BFF;
}

.service .description,
.service .more-info {
 /* opacity: 0;
  display: none;
  transition: opacity 0.3s;*/
/*  position: absolute;*/
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.more-info {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input, form select, form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

form button {
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  background: #fff;
  color: #333;
  position: relative;
  width: 100%;
}

@media (min-width: 600px) {
  section .content,
  section .content textarea {
    width: auto;
    max-width: 960px;
    min-width: 500px;
  }
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 5px 0;
  }
  section .content {
    width: auto;
    max-width: auto;
    min-width: auto;
  }
  .services-grid {
    flex-direction: column;
    align-items: center;
  }
  .service {
    width: auto;
    max-width: auto;
    min-width: auto;
  }
}
